/* src/components/ui/Panel.css */
.panel {
  overflow: auto;
  border-right: 1px solid var(--color-border);
  background: var(--color-bg);
  padding: 18px 0 18px 0;
  font-family: var(--font-family);
  color: var(--color-text);
}